/* main, header, section, aside, footer {
  margin: 0;
  padding: 20px;
  border: 1px solid #000000;
  color: black;
}*/

body {
  height: 100%;
  color: rgba(var(--i1d,38,38,38),1);
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 18px;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  border: 0;
  height: 927;
}

main {
  background: rgba(var(--b3f,250,250,250),1);
  min-height: 100vh;
  overflow: hidden;
  
}

/*le container : telephone et boite utilisateur*/
.flex-container {
  justify-content: center;
  margin: 32px auto 0;
  max-width: 935px;
  padding-bottom: 32px;
  width: 100%;
  height: 100%;
  flex-direction: row;
  flex-grow: 1;
  margin-top: 76px;
}

/*Le téléphone avec carousel en jquery*/
.phone{
  align-self: center;
  background-image: url(./img/phone.png);
  background-size: 454px 618px;
  background-position: 0 0;
  flex-basis: 454px;
  height: 618px;
  margin-left: -35px;
  margin-right: -15px;
}

.carousel {
  margin: 99px 0 0 151px;
  position: relative;

}

#slideshow { 
  
  position: relative; 
  width: 240px; 
  height: 427px; 
  
}

#slideshow > div { 
  position: absolute; 
  
}

/*la mainbox*/
.mainbox {
  
  color: rgba(var(--i1d,38,38,38),1);
  flex: 0 1 350px;
  justify-content: center;
  margin-top: 36px;
  
}

.containerConnexion {
  
  align-items: center;
  background-color: rgba(var(--d87,255,255,255),1);
  border: 1px solid rgba(var(--b6a,219,219,219),1);
  border-radius: 1px;
  margin: 0 0 10px;
  padding: 10px 0;
  max-width: 350px;
    
}

.titre {
  margin: 24px auto 12px;
  background-repeat: no-repeat;
  height: 51px;
  width: 175px;
  background-image: url(./img/Instagram.png);
  display: block;
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
  padding: 0;
  border: 0;
  font: inherit;
  color: rgba(var(--i1d,38,38,38),1);

}

/* Le formulaire */
.form {
  margin-top: 32px;
  margin-bottom: 10px;
  max-width: 350px;
  width: 100%;
}


input[type=text], input[type=password] {
  width: 100%;
  max-width: 268px;
  max-height: 36px;
  padding: 12px 20px;
  margin: 0 40px 6px;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #FAFAFA; 
  color: #353535;
  
}

input[type=submit] {
  width: 100%;
  max-width: 268px;
  max-height: 30px;
  background-color: #B2DFFC;
  color: white;
  padding: 7px 20px;
  margin: 0 40px 6px;
  margin-top: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


/*Les différents liens*/
.ou {
  display: flex;
  align-content: center;
  
}


h2 {
  width: 100%;
  max-width: 268px; 
  max-height: 15px;
  text-align: center; 
  border-bottom: 1px solid #e1e1e1; 
  line-height: 0.1em;
  margin: auto; 
  color: #e1e1e1;
  
  
} 

h2 span { 
   background:#fff; 
   padding:0 10px; 
   font-size: 12px;
   color:rgb(160, 160, 160);
      
}

button {
  height: 20px;
  border: none;
  background: #fff;
}

.facebook {
  display: flex;
  border: none;
  background: #fff;
  justify-content: center;
  align-content: stretch;
  align-items: stretch;
  margin: 8px 60px 8px;
  height: 20px;
  margin-top: 32px;
   
}

.facebook a {
  text-decoration: none;
  font-weight: 600;
  color: #385185;
  margin-left: 10px;
}

.facebookIcon {
  height: 16px;
  width: 16px;
  align-content: center;
   
}

.oubli a {
  font-size: 12px;
  text-decoration: none;
  color:#466177;
}



#facebookbutton {
  border: none;
  background: #fff;
}

.facebookText {
  color: #556A97;
}

.oubli {
  text-align: center;
  margin-top: 24px;
  margin-bottom: 24px;
}

.inscription {

  border: 1px solid rgba(var(--b6a,219,219,219),1);
  border-radius: 1px;
  margin: 0 0 10px;
  padding: 10px 0;
  display: flex;
  height: 40px;
  background-color: rgba(var(--d87,255,255,255),1);
  justify-content: center;
  align-items: center;  

}

.inscription a {
  text-decoration: none;
  color: #36aaf6;
  margin: 10px;
  font-weight: bold;
}

::placeholder {
  color: #a5a4a4;
  font-size: 12px;
  font-weight: 100;
  
}

.download {
  color: #262626;
  color: rgba(var(--i1d,38,38,38),1);
  font-size: 14px;
  line-height: 18px;
  margin: 10px 20px 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titreApp {
  display: flex;
  justify-content: center;
  line-height: 18px;
  margin: 10px 20px 10px 20px;

}

.linkStore {
  display: flex;
  justify-content: center;
  margin: 10px 0 10px 0;
}

#bouton {
  width: 136px;
  margin: 0 8px 8px 0;
}




/*FOOTER*/
.footer {
  background-color: rgba(var(--b3f,250,250,250),1);
    padding-left: 16px;
    padding-right: 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  
 margin-top: 64px;
  
}

.liensFooter {
  justify-content: center;
  flex-wrap: wrap;
  flex: 0 0 auto;
  align-items: stretch;
  margin-top: 5px;
  
}

#liensFotterBottom {
  margin-top: 10px;
}

.liensFooter a{
  text-decoration: none;
  color: #8e8e8e;
  font-size: 12px;
  line-height: 16px;
  margin: -2px 5px -3px;
  align-items: stretch;
  
}

@media screen and (min-width: 320px){
  .flex-container {
      display: flex;
      justify-content: center;
           
      
      }    

}

@media screen and (max-width: 425px){
  .containerConnexion, .inscription {
    border: none;
    background: snow;
  }
}
 

@media screen and (max-width: 860px){
  .phone {
      display: none;
  }    
}